<table class="table table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th>Opis</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    @for (role of roles; let i=$index; track i){
      <tr (click)="showRoleDetails(role)">
        <td>{{i+1}}</td>
        <td>{{role.name}}</td>
        <td>{{role.description}}</td>
        <td class="text-end">
          <button (click)="delete(role)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
        </td>
      </tr>
    }
  </tbody>
</table>

