<div class="row mt-5">
  <div class="col-md-12 mt-5">
    <div class="row justify-content-center mb-4">
      <div class="col-md-10">
        <div class="row mb-5">
          <h2 class="fw-light">Panel wizyt</h2>
        </div>
        <div class="row">
          <h4 class="card-title fw-light"><i class="bi bi-calendar-date"></i> Nadchodzące wizyty</h4>
        </div>
        <app-upcoming-appointments [patientPesel]="patientPesel"></app-upcoming-appointments>
      </div>
    </div>

    <div class="row justify-content-center mb-5">
      <div class="col-md-10">
        <div class="row">
          <h4 class="card-title fw-light"><i class="bi bi-calendar-date"></i> Wizyty odbyte</h4>
        </div>
        <app-finished-appointments [patientPesel]="patientPesel"></app-finished-appointments>
      </div>
    </div>
  </div>
</div>
