*{
  font-family: Roboto, sans-serif;
}

.cursor-pointer{
  cursor: pointer;
}

.bg-blue{
  background-color: rgb(2, 59, 109);
}

.hover-underline:hover{
  cursor: pointer;
  text-decoration: underline;
}
