<div class="container p-3">
  <div class="row border-bottom">
    <h3 class="text-dark">Ustawienia godzin pracy</h3>
  </div>
  <div class="row m-3" [formGroup]="form">
    <div class="col-md-12">

      @if (isNewData) {
        <div class="mt-3">
          <label class="form-label" for="day">Dzień</label>
          <select class="form-control" id="day" name="day" formControlName="day">
            <option value="MONDAY">Poniedziałek</option>
            <option value="TUESDAY">Wtorek</option>
            <option value="WEDNESDAY">Środa</option>
            <option value="THURSDAY">Czwartek</option>
            <option value="FRIDAY">Piątek</option>
            <option value="SATURDAY">Sobota</option>
            <option value="SUNDAY">Niedziela</option>
          </select>
        </div>
      } @else {
        <div class="mt-3 p-3 border text-center rounded-2">
          <p id="day2"
             class="card-header text-uppercase text-black-50 font-roboto fw-semibold">{{ doctorOfficeHoursDialogData.officeHours?.day }}</p>
        </div>
      }

    <div class="mt-3">
      <label class="form-label" for="startHour">Godzina rozpoczęcia</label>
      <input class="form-control" id="startHour" type="time" formControlName="startHour"/>
    </div>

    <div class="mt-3">
      <label class="form-label" for="endHour">Godzina zakończenia</label>
      <input class="form-control" id="endHour" type="time" formControlName="endHour"/>
    </div>

    <div class="mt-3">
      <label class="form-label" for="durationInMinutes">Czas trwania wizyty(minuty)</label>
      <input class="form-control" id="durationInMinutes" type="number" formControlName="durationInMinutes"/>
    </div>

    <div class="row mt-3">
      <div class="col-md-12 text-end">
        <button class="btn btn-danger mx-2" (click)="onOfficeHoursCancel()">Anuluj</button>
        <button class="btn btn-success" (click)="onOfficeHoursSubmit()">Zapisz</button>
      </div>
    </div>
  </div>
</div>
</div>
