.max-height-300 {
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
}

.border-right {
  border-right: 1px;
  border-right: 1px solid #dee2e6;
}

.hover{
  transition: .2s ease-in-out;
  cursor: pointer;
}
.hover:hover {
  background-color: rgba(236, 236, 236, 0.93);
}

.hover-dark{
  transition: .2s ease-in-out;
}

.hover-dark:hover{
  background-color: #201f1f;
  color: #ffffff;
}
