<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <!-- Navbar items -->
  <div class="navbar-collapse" id="navbarNav">
    <div class="col-md-2">
      <ul class="navbar-nav justify-content-center fw-semibold text-light">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink=".">Menu główne</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="./doctor-management">Zarządzanie lekarzami</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Zarządzanie recepcjonistami</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Zarządzanie rolami</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Zarządzanie permisjami</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <div class="dropdown justify-content-end">
        <button class="btn btn-outline-light dropdown-toggle mr" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Ustawienia
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
