<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Kod lekarstwa</th>
        <th>Opis</th>
      </tr>
      </thead>
      <tbody>
        @for (medicine of medicines; track medicine.id) {
          <tr>
            <td>
              <p>{{ medicine.atcCode || "brak" }}</p>
            </td>
            <td>
              <p class="mb-0">{{ medicine.medicinalProductName }} </p>
              <p class="small text-primary">{{ medicine.commonName }}</p>
              <p class="small text-dark"><b>Moc</b>: {{ medicine.medicinalProductPower }}</p>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

