<div class="col-md-12 px-sm-2 px-0 bg-blue min-vh-100 h-100">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100 h-100 bg-blue">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5 d-none d-sm-inline">Menu</span>
    </a>
    <div class="dropdown pb-4 text-end">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi-person-circle fs-4"></i>
        <span class="d-none d-sm-inline mx-1 mx-2">loser</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" [routerLink]="['profile',doctorId]">Profil</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a (click)="logout()" class="dropdown-item" href="#">Wyloguj sie</a></li>
      </ul>
    </div>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-light" id="menu">
      <li class="nav-item">
        <a routerLink="/doctor-panel/calendar" class="nav-link align-middle px-0">
          <i class="fs-4 bi-calendar-check"></i> <span class="ms-1 d-none d-sm-inline">Kalendarz wizyt</span>
        </a>
      </li>

      <li>
        <a routerLink="/doctor-panel/doctors" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-card-list"></i> <span class="ms-1 d-none d-sm-inline">Lista lekarzy</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/doctor-panel/patients" class="nav-link align-middle px-0">
          <i class="fs-4 bi bi-person"></i><span class="ms-1 d-none d-sm-inline">Pacjenci</span>
        </a>
      </li>
      <li>
        <a class="nav-link px-0 align-middle" routerLink="/doctor-panel/prescriptions">
          <i class="fs-4 bi-file-earmark-text-fill"></i> <span class="ms-1 d-none d-sm-inline">Recepty</span>
        </a>
      </li>
      <li>
        <a class="nav-link px-0 align-middle" routerLink="/doctor-panel/medicines">
          <i class="fs-4 bi-file-earmark-text-fill"></i> <span class="ms-1 d-none d-sm-inline">Lekarstwa</span>
        </a>
      </li>
    </ul>
    <hr>
  </div>
</div>
