<div class="col-md-12 border m-1 p-3 shadow-sm">
  <div class="row border-bottom mb-2 pb-2">
    <div class="col-md-8">
      <h6>Data aktualizacji: <span
        class="fw-light text-success">{{ hospitalizationHistory.medicineUpdateDate | date:"d MMM yyyy" }}</span></h6>
    </div>
    @if(userService.hasRole('DOCTOR') && isBefore()){
      <div class="col-md-4 text-end">
        <button (click)="updateHospitalization()" class="btn btn-outline-dark">Edytuj</button>
      </div>
    }
  </div>
  <div class="row pb-3">
    <h6 class="card-title mb-2">Informacje o lekarstwie</h6>
    <div class="col-md-6">
      <p class="mb-0">Nazwa lekarstwa:</p>
      <p class="mb-0 fw-light"><span class="text-primary">{{ hospitalizationHistory.medicine.commonName }}</span></p>
      <p class="mb-0">Kod lekarstwa:</p>
      <p class="mb-0 fw-light"><span class="text-primary">{{ hospitalizationHistory.medicine.atcCode || "brak" }}</span></p>
    </div>
    <div class="col-md-6">
      <p class="mb-0">Postać farmaceutyczna:</p>
      <p class="mb-0 fw-light">{{ hospitalizationHistory.medicine.pharmaceuticalFormName }}</p>
      <p class="mb-0">Moc dawki:</p>
      <p class="mb-0 fw-light">{{ hospitalizationHistory.medicine.medicinalProductPower }}</p>
      <p class="mb-0">Numer rejestracyjny:</p>
      <p class="mb-0 fw-light">{{ hospitalizationHistory.medicine.registryNumber }}</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <p class="mb-0">Notatka lekarza</p>
      <p class="fw-light">{{ hospitalizationHistory.notes }}</p>
    </div>
    <div class="col-md-6">
      <p class="mb-0">Dawkowanie</p>
      <p class="fw-light">{{hospitalizationHistory.cureDosage}}</p>
    </div>
    <div class="col-md-6">
      <p class="mb-0">Data zakończenia leczenia</p>
      <p class="fw-light">{{hospitalizationHistory.finishDate || "nie określono"}}</p>
    </div>
  </div>
</div>
