<table class="table table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th>Opis</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    @for (permission of permissions; let i =$index; track i){
      <tr>
        <td>{{i + 1}}</td>
        <td>{{permission.name}}</td>
        <td>{{permission.description}}</td>
        <td class="text-end">
          <button (click)="delete(permission)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
        </td>
      </tr>
    }
  </tbody>
</table>
