<div class="row mt-5 justify-content-center">
  <h6 class="text-black-50"><b>Godziny pracy</b></h6>
  @for (officeHour of doctorOfficeHours; track officeHour.day) {
    <div class="col-md-8 p-3 border rounded-4 m-2">
      <div class="row mb-2">
        <div class="col-md-10">
          <p class="office-hours-style m-0"><strong>Dzień: </strong> {{ officeHour.day }}</p>
        </div>
        @if (userService.hasRole('DOCTOR')) {
          <div [matMenuTriggerFor]="menu" class="col-md-2 rounded-5 office-hours-card text-center">
            <i class="bi bi-three-dots-vertical"></i>
            <mat-menu #menu="matMenu" class="text-center">
              <button mat-menu-item (click)="updateOfficeHourDetails(officeHour)">Edytuj</button>
              <button class="text-bg-danger" mat-menu-item (click)="delete(officeHour)">Usuń</button>
            </mat-menu>
          </div>
        }
      </div>
      <div class="col-md-12">
        <p class="m-0 text-dark"><b>Godzina otwarcia:</b> {{ officeHour.startHour }}</p>
      </div>
      <div class="col-md-12">
        <p class="m-0 text-dark"><b>Godzina zamknięcia:</b> {{ officeHour.endHour }}</p>
      </div>
      <div class="col-md-12">
        <p class="m-0 text-dark"><b>Czas wizyty:</b> {{ officeHour.durationInMinutes }}</p>
      </div>
    </div>
  }
  @if (userService.hasRole('DOCTOR')) {
    <div class="row">
      <div class="col-md-12 text-center mt-3">
        <button class="btn btn-outline-success" (click)="addOfficeHours()">Dodaj</button>
      </div>
    </div>
  }
</div>
