<div class="container-fluid">
  <div class="row p-1">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h5>Dodawanie permisji</h5>
        </div>
        <div class="col-md-4 text-end">
          <button (click)="close()" class="btn btn-close"></button>
        </div>
      </div>
      <div class="row mt-3">
        <form [formGroup]="form">
          <div class="col-md-12">
            <div class="mb-3">
              <label class="form-label" for="name">Nazwa</label>
              <input class="form-control" id="name" name="name" formControlName="name"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="description">Opis</label>
              <input class="form-control" id="description" name="description" formControlName="description"/>
            </div>
          </div>
          <div class="col-md-12 mt-4 text-end">
            <button (click)="close()" class="btn btn-outline-danger mx-2">Anuluj</button>
            <button (click)="addPermission()" class="btn btn-outline-success">Dodaj</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
