<div class="row">
  <form [formGroup]="personalDetailsForm">
    <h5 class="text-black-50">Dane osobowe</h5>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label " for="pesel">Pesel</label>
          <input class="form-control" type="text" id="pesel" formControlName="pesel">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="name">Imię</label>
          <input class="form-control" type="text" id="name" formControlName="name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="name">Nazwisko</label>
          <input class="form-control" type="text" id="surname" formControlName="surname">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="phoneNumber">Numer telefonu</label>
          <input class="form-control" type="text" id="phoneNumber"
                 formControlName="phoneNumber">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <p class="form-label">Płeć</p>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="male"
                   value="MALE" formControlName="gender">
            <label class="form-check-label" for="male">Mężczyzna</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="female"
                   value="FEMALE" formControlName="gender">
            <label class="form-check-label" for="female">Kobieta</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="birthDate">Data urodzenia</label>
          <input class="form-control" type="date" id="birthDate" formControlName="birthDate">
        </div>
      </div>
    </div>
    <h5 class="text-black-50">Adres zamieszkania</h5>
    <div class="row" formGroupName="address">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="street">Ulica</label>
          <input class="form-control" type="text" id="street" formControlName="street">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="apartmentNumber">Numer mieszkania/Domu</label>
          <input class="form-control" type="text" id="apartmentNumber"
                 formControlName="apartmentNumber">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="postalCode">Kod pocztowy</label>
          <input class="form-control" type="text" id="postalCode"
                 formControlName="postalCode">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="city">Miasto</label>
          <input class="form-control" type="text" id="city" formControlName="city">
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 text-end">
        <button class="btn btn-success">Zapisz</button>
      </div>
    </div>
  </form>
</div>
