.pointer{
  cursor: pointer;
}

.profile{
  background-color: rgb(33, 37, 41);
  color: #fafafa;
}

.profile:hover{
  background-color: #32363AFF;
}

.max-height-400{
  max-height: 500px;
  overflow: auto;
}
