.profile-image{
  height: 20rem;
  width: 20rem;
  object-fit: contain;
}

.office-hours-style{
  color: #666;
  margin: 0;
}

.office-hours-card{
}

.office-hours-card:hover{
  transition: .2s ease-in-out;
  background-color: #c8c8c8;
  cursor: pointer;
}

.text-danger-hover{
  background-color: rgb(220,53,69);
}

.pointer{
  cursor: pointer;
  transition: background-color 0.2s;
}
