@if (doctorDetails) {
  <div class="container-fluid p-3">
    <div class="row border">
      <app-header-title [title]="'Dane lekarza'"></app-header-title>
      <div class="row justify-content-end mb-3">
        <div class="col-md-4 text-end">
          <button class="btn btn-danger" (click)="deleteDoctor()">Usuń lekarza</button>
        </div>
      </div>
      <app-account [account]="getAccountInfo()"></app-account>
      <div class="row mb-3 g-2">
        <div class="col-md-8 p-3">
          <app-personal-details [personalDetails]="doctorDetails.personalDetails"></app-personal-details>
        </div>
        <div class="col-md-4 mb-2 p-3">
          <div class="row mt-3">
            <h4 class="text-black-50">Zdjęcie profilowe</h4>
            <div class="col-md-12 text-center">
              <img class="profile-image" [src]="getProfileImage()" alt="Lekarz"/>
            </div>
            <div class="col-md-12 mt-3 text-center">
              <button class="btn btn-outline-primary w-25">Zmień</button>
            </div>
          </div>
          <app-doctor-office-hours
            [doctorOfficeHours]="doctorDetails.doctorOfficeHours"
            [doctorPwzNumber]="doctorDetails.pwzNumber"
          ></app-doctor-office-hours>
        </div>
        <div class="col-md-12 g-2 p-3">
          <app-doctor-specializations
            [doctorSpecializations]="doctorDetails.doctorSpecializations"
            [doctorPwzNumber]="doctorDetails.pwzNumber"
          ></app-doctor-specializations>
        </div>
      </div>
    </div>
  </div>
  @if (userService.hasRole('ADMIN')) {
    <div class="col-md-12 mt-3">
      <app-account-roles [username]="doctorDetails.username"/>
    </div>
  }
}
