<div class="row mt-3 justify-content-center">
  <div class="col-md-12 justify-content-center mb-2">
    <div class="row justify-content-center">
      <div class="col-md-2 p-0">
        <button class="btn btn-outline-dark rounded-circle"><i class="bi bi-arrow-left"></i></button>
      </div>
      <div class="col-md-6 text-center">
        <h5 (click)="openDate()">{{ start | date:"dd MMM" }} - {{ end | date: "dd MMM yyyy" }}</h5>
      </div>
      <div class="col-md-2 text-end p-0">
        <button class="btn btn-outline-dark rounded-circle"><i class="bi bi-arrow-right"></i></button>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar (_userSelection)="onSelectDate($event)" [(selected)]="selected"></mat-calendar>
    </mat-card>
  </div>
  @for (event of events; track event.date) {
    <div class="col-md-2 border">
      <div class="row border-bottom p-2">
        <div class="col-md-12 text-center" [class]="{
            'text-primary': isCurrentDay(event.date)
            }">
          <p class="mb-1">{{ days[getDay(event.date)] }}</p>
          <h3 class="m-0">{{ event.date | date:"dd" }}</h3>
        </div>
      </div>
      @for (app of event.calendarAppointments; track app.id) {
        <div class="row rounded-4 border border-dark-subtle mt-1 mb-1" [style]="{
      'background-color' : setColor(app.status)
      }">
          <div class="col-md-12 p-2">
            <p class="fw-light mb-1">Wizyta <i class="bi bi-ca"></i></p>
            <p class="fw-light mb-1">Status: <b>{{app.status}}</b></p>
            <p class="fs-6 m-0 fw-bold">{{ app.hour }}</p>
          </div>
        </div>
      }
    </div>
  }
</div>
