<div class="row mt-5">
  <div class="col-md-12 mt-5">
    <div class="row justify-content-center mb-4">
      <div class="col-md-10">
        <div class="row mb-5">
          <h2 class="fw-light">Karta pacjenta <i class="bi bi-person-vcard-fill"></i></h2>
        </div>
        <app-card-summary patientCardId="ferfe-23rfe-d23d2-23dd"></app-card-summary>
        <app-patient-hospitalization [patientCardId]="'ferfe-23rfe-d23d2-23dd'"></app-patient-hospitalization>
      </div>
    </div>
  </div>
</div>
